.restaurant-card {
  position: relative;
  height: 600px;
  color: #446484;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px; /* 5px rounded corners */
  z-index: 0;
  .fa-star {
    color: #f2a339;
    text-shadow: 0 0 2px black;
  }
}

.restaurant-card:hover {
  cursor: pointer;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.6);
}

.restaurant-card-image{
  background-size: cover;
  background-position: center;
  transition: 0.7s;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.restaurant-card-image:hover{
  transform: scale(1.1);
}

.restaurant-card-info{
  display: grid;
  z-index: 2;
}

.restaurant-card-container {
  padding: 2px 16px;
}


.property {
  p {
    margin-right: 8px;
  }
}

.restaurant-card-rating {
  margin-bottom: 8px;
  h7 {
  margin-left: 24px;
  }
}

.flag img {
  height: 16px;
  width: 16px;
}


// flag
// position: relative
// top: -240 px
